# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt
*.properties
# Mobile Tools for Java (J2ME)
.mtj.tmp/

#targer and stugg
*target*
target/*
.idea/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.iml
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
